* {
  margin: 0;
  padding: 0;
}

body,
html,
#root {
  height: 100vh;
  width: 100%;
}

.home-page {
  /* border: solid black; */
  width: 100%;
  height: 92.1vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.user-card {
  /* border: solid rgb(183, 40, 40); */
  /* height: 100%; */
}

.user-inner-card {
  /* border: solid rgb(38, 164, 116); */
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  height: 70vh;
  background-color: #E8C1C5;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.user-profile-img {
  /* width: 100%; */
  height: 60vh;
  object-fit: cover;

}

.user-about {
  /* border: solid black; */
  font-family: 'Heebo', sans-serif;
  color: #666666;
  font-weight: bolder;
  padding: 0.3rem;
  padding-top: 0;
}

.user-about span {
  margin-right: 0.9rem;
  background-color: #62326020;
  color: #623260;
  padding: 0.2rem;
  border-radius: 10px;
  font-weight: bolder;
  font-family: 'Heebo', sans-serif;
  text-transform: uppercase;
}

.user-about svg {
  margin-right: 0.5rem;
}

.text-box {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.user-age {
  font-family: "Fredoka One", cursive;
  color: beige;
  letter-spacing: 1px;
  font-size: 2rem;
}

.user-age {
  font-size: 1.8rem;
  font-weight: 900;
  color: #fff;
  border: none;
  font-family: 'Arial Black', sans-serif;
  font-weight: bolder;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Heebo', sans-serif;
  color: #623260;
  font-weight: bolder;
  padding: 0.5rem;
  padding-top: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 10px;
  background-color: #E8C1C5
}

.user-info-display {
  background-color: #E8C1C5;
  color: #623260;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  font-size: 1.2rem;

}